:root{
  /* background */
  --bg-primary: #f6f9ff;
  --bg-light: #ffffff;
  /* color */
  --clr-heading: #012970;
  --clr-light: #86b7fe;
  --clr-primary: #212529;
  --clr-danger: #dc3545;
  --clr-gray: #21252980;
  /* box-shadow */
  --card-boxShadow: 0 0 30px rgba(1, 41, 112, 0.1);
  --input-boxShadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  /* font-size */
  --fs-300: 1.25rem;
  --fs-400: 1.5rem;
  --fs-500: 2rem;
  --fs-600: 3rem;
}

body,
#root {
  margin: 0;
  height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

/* Loader */
.loader-container {
  padding-block: 2rem;
  display: grid;
  place-items: center;
}
.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, var(--clr-primary) 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

/* utility class */
.row{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.page-heading {
  color: var(--clr-heading);
  font-weight: 800;
  padding-block: 0.5rem;
  margin: 2rem;
}
/* Weather Container */
.weather-container {
  background-color: var(--bg-light);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  border-radius: 0.5rem;
  box-shadow: var(--card-boxShadow);
}


.info-text {
  padding: 0.5rem;
  color: var(--clr-light);
}

/* Search Bar */
.search-bar {
  border-radius: 0.5rem;
  box-shadow: var(--card-boxShadow);
  display: flex;
  flex-flow: row no-wrap;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search-bar:focus-within {
  border: 1px solid var(--clr-light);
  box-shadow: var(--input-boxShadow);
}

.search-bar input {
  flex-grow: 1;
  border: 0;
  border-radius: 0.5rem;
  padding: 0.2rem 0.3rem;
  font-size: var(--fs-300);
  color: var(--clr-light);
}

.search-bar input:focus {
  border: 0;
  outline: 0;
}

.search-bar button {
  border: 0;
  background-color: transparent;
  font-size: var(--fs-300);
  color: var(--clr-heading);
  cursor: pointer;
}

.error-message {
  color: var(--clr-danger);
  font-size: var(--fs-300);
  padding: 0.5rem;
  text-align: center;
}
.weather-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.location {
  font-size: var(--fs-400);
  color: var(--clr-heading);
}
.location-coords {
  color: var(--clr-danger);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.weather-content {
  justify-content: space-evenly;
}
.weather-content img {
  height: 6rem;
}
.weather-description {
  display: flex;
  flex-flow: column nowrap;
  color: var(--clr-gray);
}
.weather-description-primary {
  font-size: var(--fs-500);
  padding-block: 0.5rem;
}
.weather-description-secondary {
  padding-block: 0.5rem;
  text-align: center;
  border-top: 1px solid var(--clr-gray);
}
.temp-container {
  text-align: center;
  font-size: var(--fs-600);
  padding-top: 1rem;
  font-weight: 500;
  color: var(--clr-primary);
  border-top: 1px solid var(--clr-primary);
}
.humidity-wind{
  color: var(--clr-primary);
  font-weight: 600;
  border-bottom: 1px solid var(--clr-primary);
  padding-bottom: 1rem;
}