body,
#root {
  margin: 0;
  height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
  background-color: #f6f9ff;
  display: grid;
  place-items: center;
}

.weather-card {
  background-color: #ffffff;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 30px rgba(1, 41, 112, 0.1);
}

.card-heading {
  color: #012970;
}

.info-text {
  padding: 0.5rem;
  color: #86b7fe;
}

.search-bar {
  border-radius: 0.5rem;
  box-shadow: 0 0 30px rgba(1, 41, 112, 0.1);
  display: flex;
  flex-flow: row no-wrap;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search-bar:focus-within {
  border: 1px solid #86b7fe;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.search-bar input {
  flex-grow: 1;
  border: 0;
  border-radius: 0.5rem;
  padding: 0.2rem 0.3rem;
  font-size: 1.25rem;
  color: #86b7fe;
}

.search-bar input:focus {
  border: 0;
  outline: 0;
}

.search-bar button {
  border: 0;
  background-color: transparent;
  font-size: 1.25rem;
  color: #012970;
  cursor: pointer;
}
